@page "/about"

<h1>About ArsX</h1>
<p>Welcome to ArsX Public Portal. Here you can explore our projects and learn more about our mission.</p>

<h2>Contact Us</h2>
<ul>
    <li>Email: <a href="mailto:contact@arsx.co.uk">contact@arsx.co.uk</a></li>
    <li>Twitter: <a href="https://twitter.com/arsx">@@arsx</a></li>
    <li>GitHub: <a href="https://github.com/arsx-co-uk">arsx-co-uk</a></li>
</ul>